<%- include('../include/header_nav.ejs') %>

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Abdul Samad</h2>
            </div>
            <div class="col-12">
                <a>Backend Developer</a>
                <!-- <a href="https://www.github.com/mr-loop-1">Github</a>
                <a href="https://www.abdulsamad-omega.vercel.com">Portfolio</a>
                <a href="tel:9760162505">Phone</a>
                <a href="https://www.abdulsamad-omega.vercel.com">iabdulsamad1412@gmail.com</a> -->

            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/img/train2.jpg" alt="Image" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Links</p>
                    <h3><a href="https://abdulsamad-omega.vercel.app/" target="_blank">Portfolio: abdulsamad-omega.vercel.app</a></h3>
                    <br>
                    <h3><a href="mailto:iabdulsamad1412@gmail.comm">Mail: iabdulsamad1412@gmail.com</a></h3>
                    <br>
                    <h3><a href="https://github.com/mr-loop-1" target="_blank">Github: github.com/mr-loop-1</a></h3>
                    <br>
                    <h3><a href="tel:9760162505"">Tel: 9760162505</a></h3>
                    <br>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<%- include('../include/footer.ejs') %>
