<%- include('../include/header_nav.ejs') %>

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Technology</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Our Software</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/img/train2.jpg" alt="Image" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Our</p>
                    <h2>Technology and Software</h2>
                </div>
                <div class="about-text">
                    <p>
                        The trains use centralised automatic train control
                        (CATC) comprising automatic train operation (ATO),
                        automatic train protection (ATP) and automatic train
                        signalling (ATS) systems. Intercoms are provided for
                        emergency communication between passengers and the
                        driver in each coach, and on-train announcements are in
                        Hindi and English. Route maps and LCD display systems
                        are available in every coach. Fare collection is through
                        contactless, stored-value smartcards. The metro has its
                        own police force, and a training school at Shastri Park
                        is run in association with Hong Kong MTR for operational
                        and maintenance staff. Security is supported by
                        approximately 5,200 CCTV cameras at stations.
                    </p>
                    <p>
                        In October 2007, DMRC awarded Bombardier Transportation
                        a $43m contract for the design, manufacture, supply,
                        installation, and testing of signalling equipment. The
                        CITYFLO 350 system was installed on 37km of two of the
                        new line’s sections of the phase two expansion. The
                        electronic interlocking, operation and automation
                        control systems for the third line were supplied by
                        Siemens Transportation Systems. Lately, the rolling
                        stock is equipped with microprocessor-based Train
                        Control Management System (TCMS) to monitor the
                        operating condition of the trains.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<%- include('../include/header_nav.ejs') %>
